@forward 'colour'
@forward 'font'
@forward 'spacing'

@use 'font'
@use 'colour'

@mixin panel
  border: 1.25px solid colour.$white25
  border-radius: 2rem
  background: linear-gradient(45deg, colour.$violet 0%, colour.$cove 100%)

.book
  font-family: Roboto, serif
  font-weight: font.$medium